.App {
  text-align: center;
}

#uptime {
  text-align: right;
  padding: 10px;
}

#marginy {
  margin: 25px;
  text-align: center;
}

#messagetime {
  border-radius: 60px;
  border: solid;
  background-color: lightgrey;
  color: black;
  border-width: 5px;
  font-size: 30px;
}

#timestamp {
  font-size: 15px;
  text-align: left;
  margin-left: 10px;
}

#fancy {
  color: black(100, 98, 98);
  background-color: rgb(206, 205, 207);
  border-radius: 9px;
  border-width: 8px;
  border: solid;
}

.authy {
  text-align: right;
  font-size: 20px;
}

textarea {
  font-size: 30px;
}

.buttontools {
  border-radius: 30px;
  border: solid;
  background-color: lightblue;
  color: black;
  border-width: 3px;
  font-size: 16px;
}

.buttontoolsS {
  border-radius: 30px;
  border: solid;
  background-color: lightblue;
  color: black;
  border-width: 5px;
  font-size: 24px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media only screen and (max-width: 800px) {
  .App {
    text-align: center;
  }

  #marginy {
    margin: 10px;
    text-align: center;
  }

  #messagetime {
    border-radius: 20px;
    border: solid;
    background-color: lightgrey;
    color: black;
    border-width: 2px;
    font-size: 20px;
  }

  #timestamp {
    font-size: 10px;
    padding: 2px;
    text-align: left;
  }

  #fancy {
    color: black(100, 98, 98);
    background-color: rgb(206, 205, 207);
    border-radius: 9px;
    border-width: 8px;
    border: solid;
  }

  .authy {
    text-align: right;
    font-size: 20px;
  }

  textarea {
    font-size: 15px;
  }

  .buttontools {
    border-radius: 30px;
    border: solid;
    background-color: lightblue;
    color: black;
    border-width: 2px;
    font-size: 12px;
  }

  .buttontoolsS {
    border-radius: 30px;
    border: solid;
    background-color: lightblue;
    color: black;
    border-width: 3px;
    font-size: 24px;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }
}
